[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/steeef/oh-my-zsh.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/snipmate.vim"]
	path = vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/vim-yankring"]
	path = vim/bundle/vim-yankring
	url = git://github.com/chrismetcalf/vim-yankring.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/vim-guicolorscheme"]
	path = vim/bundle/vim-guicolorscheme
	url = git://github.com/thinca/vim-guicolorscheme.git
[submodule "vim/bundle/TVO--The-Vim-Outliner"]
	path = vim/bundle/TVO--The-Vim-Outliner
	url = git://github.com/vim-scripts/TVO--The-Vim-Outliner.git
