[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/steeef/oh-my-zsh.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/yankring"]
	path = vim/bundle/yankring
	url = git://github.com/chrismetcalf/vim-yankring.git
[submodule "vim/bundle/indexedsearch"]
	path = vim/bundle/indexedsearch
	url = git://github.com/bronson/vim-indexedsearch.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/snipmate.vim"]
	path = vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/IndexedSearch"]
	path = vim/bundle/IndexedSearch
	url = git://github.com/vim-scripts/IndexedSearch.git
[submodule "vim/bundle/Puppet-Syntax-Highlighting"]
	path = vim/bundle/Puppet-Syntax-Highlighting
	url = git://github.com/vim-scripts/Puppet-Syntax-Highlighting.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/FuzzyFinder"]
	path = vim/bundle/FuzzyFinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "vim/bundle/L9"]
	path = vim/bundle/L9
	url = git://github.com/vim-scripts/L9.git
[submodule "vim/bundle/fuzzyfinder"]
	path = vim/bundle/fuzzyfinder
	url = git://github.com/marcelinollano/vim-fuzzyfinder.git
