<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/sprice/.nix-profile/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/sbin</string>
    </dict>
    <key>Label</key>
    <string>com.user.backup.gamma</string>
    <key>ProgramArguments</key>
    <array>
        <string>bash</string>
        <string>-c</string>
        <string>"rsnapshot" "-c" "${HOME}/.rsnapshot.conf" "gamma"</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>15</integer>
      <key>Minute</key>
      <integer>18</integer>
      <key>Weekday</key>
      <integer>5</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/sprice/rsnapshot-gamma.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/sprice/rsnapshot-gamma.log</string>
</dict>
</plist>
